<h3>All Caches</h3>
	<ul>
	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Altitude</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
		
<% @caches.each do |cache| %>
<tr>
	<th><%= cache.title%></th>
	<th><%= cache.description%></th>
	<th><%= cache.altitude%></th>
	<th><%= cache.latitude%></th>
	<th><%= cache.longitude%></th>
	
</tr>
<% end %>
</table>
</ul>
<a href="/">Back to Home</a>